<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="layout.css">

</head>
<body>
    <header>
        <h1> hello this is a test </h1>
    </header>
    <main>  
        <section>
            <% books.forEach(book =>{ %>
            <div>
              <img src='<%= book.img_url%>'>
              <h4> <%= book.title%> </h4>
              <p> <%= book.authors%> </p>
              <p> <%= book.description%> </p>
              <h5> <%= book.isbn%> </h5>
              <h5> <%= book.bookshelf%> </h5>
            </div>
            <% }); %>
          </section>
    </main>

<footer></footer>

</body>
</html>